---
version: 2
jobs:
  build1:
    docker:
      # the primary container, where your job's commands are run
      - image: circleci/node:12
    steps:
      - checkout  # check out the code in the project directory
      - run: echo "A first hello"  # run the `echo` command
      - run: mkdir -p my_workspace
      - run: echo "Trying out workspaces" > my_workspace/echo-output
      - persist_to_workspace:
        # Must be an absolute path, or relative path from working_directory
        root: my_workspace
        # Must be relative path from root
        paths:
          - echo-output
  build2:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: echo "A more familiar hi"
      - attach_workspace:
        # Must be absolute path or relative path from working_directory
        at: my_workspace
      - run: |
          if [[ $(cat my_workspace/echo-output) == "Trying out workspaces" ]]; then
            echo "It worked!";
          else
            echo "Nope!"; exit 1
          fi
workflows:
  version: 2
  build1_and_build2:
    jobs:
      - build1
      - build2:
          requires:
            - build1
